# Rename this file to .env and replace with your data
# For BETTER_AUTH_SECRET and BETTER_AUTH_URL read https://better-auth.com/docs/installation#set-environment-variables

DATABASE_URL='protocol://user:password@host:port/database'
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=